     body {
     background: #111;
     width: 1000px;
     margin: 0 auto;
 }
 
 a {
     cursor: pointer;
     word-wrap: break-word;
     text-decoration: underline;
     color: #777777;
 }
 
 a:hover {
     color: #aaaaaa;
 }
 
.navLink {
     font: 400 18px 'Merienda One', Helvetica, sans-serif;
     color: #777777;
     margin-left: 100px;
     text-decoration: none;
}
 
 .annotation {
     font: 400 22px 'Merienda One', Helvetica, sans-serif;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     color: #114488;
 }

 .signature {
     font: 400 24px 'Great Vibes', 'Merienda One', Helvetica, sans-serif;
     text-align: right;
     margin-right: 150px; 
     margin-top: -35px; 
     color: #777777;
 }

 img {
     max-width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .clickable {
     cursor: pointer;
 }
 
 h1 {
     font: 400 64px 'Great Vibes', 'Merienda One', Helvetica, sans-serif;
     text-align: center;
     color: #777777;
 }

 h2 {
     font: 400 32px 'Merienda One', Helvetica, sans-serif;
     text-align: left;
     color: #666666;
    margin-left: 100px;
 }
 
 p {
     font: 100 16px/1.2 Helvetica, sans-serif;
     color: #555555;
     margin-left: 150px;
     margin-right: 150px;
 }
 
 table {
    border-collapse: collapse;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
        padding-left: 10px;
    padding-right: 10px;
}
