body {
    /* font-family: Arial, Helvetica, sans-serif; */
font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
}

p {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    font-size: 18px;
}

svg {
    background-color: #eee;
    box-shadow: 0 1px 4px -2px;
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#chaser {
    fill: hsl(220, 85%, 40%);
}

.handle {
    fill: hsl(100, 80%, 35%);
    fill-opacity: 0.1;
    stroke: hsl(120, 70%, 20%);
    stroke-width: 2px;
}

.handle:hover {
    fill: hsl(100, 85%, 30%);
    fill-opacity: 0.1;
    stroke: hsl(120, 70%, 20%);
    stroke-width: 3px;
}

.sliderRail {
    stroke: hsl(0, 0%, 67%);
    stroke-width: 18;
    stroke-linecap: round;
}

.sliderRail:hover {
    stroke: hsl(0, 0%, 69%);
    stroke-width: 18;
    stroke-linecap: round;
}

.curve {
    stroke: hsl(220, 85%, 40%);
    stroke-width: 3;
    fill: none;
}

.domain {
    fill: none;
    stroke: black;
    stroke-width;
    1;
}

.axisLabel {
    font-size: 16px;
    font-weight: 600;
}

.sliderLabel {
    font-size: 16px;
    font-weight: 600;
}

pre.src {
    border-top: none;
    border-bottom: none;
    border-left: 1em solid #eee;
    resize: none;
}

script + .org-src-container pre {
    margin-top: 0;
    padding-top: 0.5em;
}