

#underDampedDescription { display: none; }
#overDampedDescription { display: none; }
#criticallyDampedDescription { display: none; }

#dampingLevelDescription {
}


#pdColumn1 {
    /*background-repeat: no-repeat;*/
    width: calc(50% - 450px - 30px);
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    /*text-align: right;*/
    /*margin-right: 50%;*/
    /*text-align: right;*/
}
#pdColumn2 {
    /*background-repeat: no-repeat;*/
    position:absolute;
    left:50%;
    width: 900px;
    float: left;
    margin-left:-450px;

    /*align-content: center;*/
}

#pdColumn3 {
    width: calc(50% - 450px - 30px);
    float:right;
    margin-right: 30px;
    margin-top: 20px;
}

p {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    font-size: 18px;
}



/* THIS IS A HACK: 
DIRECT COPY FROM TOP LEVEL STYLE FILE */
.header {
    text-align: center;
    color: #000000;
}
.header ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}
.header ul li {
    display: inline;
    margin: 0.2em;
}
.header ul li a {
    text-decoration: none;
    padding: .2em 0.8em;
    color: #B5B4DC;
    background-color: #2114D4;
    border-radius: 0.3em;
    font-weight: bold;
    font-size: 1.2em;
}
.header ul li a:hover {
    color: #2114D4;
    background-color: #B5B4DC;
    text-decoration: underline;
    border-radius: 0.3em;
}